<StackLayout dock="top">
  <Label *ngIf="todos.length == 0" class="page__content-icon fas" text="&#xf03a;"></Label>
  <Label *ngIf="todos.length == 0" class="page__content-placeholder" text="No Open TODOs"></Label>
  <CardView *ngFor="let todo of todos; index as i" margin="10" elevation="40" radius="20" class="card">
    <GridLayout class="card-layout", rows="auto,auto", columns="auto,*">
      <CheckBox checked="{{todo.done}}" class="checkbox" style="margin-right: 30px" (checkedChange)="checkedChange($event, todo)"></CheckBox>
      <Label col="1" row="0" class="heading" style="padding-bottom: 20px" text="{{ todo.shortText }}"></Label>
      <Label col="1" row="1" style="font-size: 14px" text="{{ todo.longText }}"></Label>
    </GridLayout>
  </CardView>
</StackLayout>
